{% assign projects = include.projects %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-project-diagram"></i> Projects{% endif %} 
        {% if include.show_all_link %}<a href="https://github.com/Shengxiang-Lin?tab=repositories">(view all <i class="fas fa-angle-double-right"></i>)</a>{% endif %}
        <img alt="GitHub User's stars" src="https://img.shields.io/github/stars/Shengxiang-Lin?style=social" class="ml-2" style="vertical-align: middle;">
    </h6>
    {% for item in projects limit:include.limit %}
        {% include widgets/project_item.html item=item %}    
    {% endfor %}
    {% if include.show_all_link %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="https://github.com/Shengxiang-Lin?tab=repositories">All projects <i class="fas fa-angle-double-right"></i></a>
    </h6>
    {% endif %}
</div>